body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    overflow: hidden;
}

@keyframes strangeGlow {

    0%,
    100% {
        box-shadow: 0 0 10px rgba(180, 0, 0, 0.5), inset 0 0 10px rgba(180, 0, 0, 0.5);
        border-color: #8b0000;
        text-shadow: 0 0 4px #ff0000;
        background-color: rgba(0, 0, 0, 0.8);
    }

    50% {
        box-shadow: 0 0 25px rgba(255, 0, 0, 0.9), inset 0 0 15px rgba(255, 0, 0, 0.6);
        border-color: #ff0000;
        text-shadow: 0 0 10px #ff0000;
        background-color: rgba(30, 0, 0, 0.9);
    }

    52% {
        box-shadow: 0 0 5px rgba(255, 0, 0, 0.9), inset 0 0 5px rgba(255, 0, 0, 0.6);
        border-color: #500000;
    }

    54% {
        box-shadow: 0 0 25px rgba(255, 0, 0, 0.9), inset 0 0 15px rgba(255, 0, 0, 0.6);
        border-color: #ff0000;
    }
}

@keyframes textFlicker {

    0%,
    100% {
        opacity: 1;
        text-shadow: 0 0 4px #ff0000;
    }

    41% {
        opacity: 1;
        text-shadow: 0 0 4px #ff0000;
    }

    42% {
        opacity: 0.8;
        text-shadow: none;
    }

    43% {
        opacity: 1;
        text-shadow: 0 0 4px #ff0000;
    }

    45% {
        opacity: 1;
        text-shadow: 0 0 4px #ff0000;
    }

    46% {
        opacity: 0.1;
        text-shadow: none;
    }

    47% {
        opacity: 1;
        text-shadow: 0 0 4px #ff0000;
    }

    50% {
        opacity: 1;
        transform: scale(1);
    }

    51% {
        opacity: 0.8;
        transform: scale(1.02);
    }

    52% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes subtleFloat {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}